@charset "UTF-8";

.BgImge{
    position: absolute;
    margin-left: 10px;
    z-index: -3;
}

.logo_01{
    position: absolute;
    margin-left: 475px;
    margin-top: 400px;
}
.logo_02{
    position: absolute;
    margin-left: 617px;
    margin-top: 400px;
}
.Button{
    position: absolute;
    margin-left: 10px;
    margin-top: 482px;
    z-index: 10;
    width:100%;
}
#btn_01 {
    margin-left: 145px;
    float: left;
}
#btn_02 {
    position: absolute;
    float: left;
    margin-left: 465px;
}

.font {
    position: absolute;
}

.line_01 {
    position: absolute;
    margin-left: 155px;
    margin-top: 491px;
}
.line_02 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1325px;
}
.line_03 {
    position: absolute;
    margin-left: 155px;
    margin-top: 2020px;
}
.line_04 {
    position: absolute;
    margin-left: 155px;
    margin-top: 2135px;
}
/*KOGL 1줄*/
#KOGL {
    position: absolute;
    cursor: pointer;
    margin-left: 395px;
    margin-top: 558px;
}
#KOGL_00 {
    position: absolute;
    margin-left: 155px;
    margin-top: 610px;
}
#KOGL_01{
    position: absolute;
    margin-left: 315px;
    margin-top: 610px;
}
#KOGL_02{
    position: absolute;
    margin-left: 475px;
    margin-top: 610px;
}
#KOGL_03{
    position: absolute;
    margin-left: 635px;
    margin-top: 610px;
}
/*KOGL 2줄*/
#KOGL_04 {
    position: absolute;
    margin-left: 155px;
    margin-top: 670px;
}
#KOGL_05{
    position: absolute;
    margin-left: 315px;
    margin-top: 670px;
}
#KOGL_06{
    position: absolute;
    margin-left: 475px;
    margin-top: 670px;
}
#KOGL_07{
    position: absolute;
    margin-left: 635px;
    margin-top: 670px;
}
/*KOGL 3줄*/
#KOGL_08 {
    position: absolute;
    margin-left: 155px;
    margin-top: 730px;
}
#KOGL_09{
    position: absolute;
    margin-left: 315px;
    margin-top: 730px;
}
#KOGL_10{
    position: absolute;
    margin-left: 475px;
    margin-top: 730px;
}
#KOGL_11{
    position: absolute;
    margin-left: 635px;
    margin-top: 730px;
}
/*KOGL 4줄*/
#KOGL_12 {
    position: absolute;
    margin-left: 155px;
    margin-top: 790px;
}
#KOGL_13{
    position: absolute;
    margin-left: 315px;
    margin-top: 790px;
}
#KOGL_14{
    position: absolute;
    margin-left: 475px;
    margin-top: 790px;
}
#KOGL_15{
    position: absolute;
    margin-left: 635px;
    margin-top: 790px;
}
/*KOGL 5줄*/
#KOGL_16 {
    position: absolute;
    margin-left: 155px;
    margin-top: 850px;
}
#KOGL_17{
    position: absolute;
    margin-left: 315px;
    margin-top: 850px;
}
#KOGL_18{
    position: absolute;
    margin-left: 475px;
    margin-top: 850px;
}
#KOGL_19{
    position: absolute;
    margin-left: 635px;
    margin-top: 850px;
}
/*KOGL 6줄*/
#KOGL_20 {
    position: absolute;
    margin-left: 155px;
    margin-top: 910px;
}
#KOGL_21{
    position: absolute;
    margin-left: 315px;
    margin-top: 910px;
}
#KOGL_22{
    position: absolute;
    margin-left: 475px;
    margin-top: 910px;
}
#KOGL_23{
    position: absolute;
    margin-left: 635px;
    margin-top: 910px;
}
/*KOGL 7줄*/
#KOGL_24 {
    position: absolute;
    margin-left: 155px;
    margin-top: 970px;
}
#KOGL_25{
    position: absolute;
    margin-left: 315px;
    margin-top: 970px;
}
#KOGL_26{
    position: absolute;
    margin-left: 475px;
    margin-top: 970px;
}
#KOGL_27{
    position: absolute;
    margin-left: 635px;
    margin-top: 970px;
}
/*KOGL 8줄*/
#KOGL_28 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1030px;
}
#KOGL_29{
    position: absolute;
    margin-left: 315px;
    margin-top: 1030px;
}
#KOGL_30{
    position: absolute;
    margin-left: 475px;
    margin-top: 1030px;
}
#KOGL_31{
    position: absolute;
    margin-left: 635px;
    margin-top: 1030px;
}
/*KOGL 9줄*/
#KOGL_32 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1090px;
}
#KOGL_33{
    position: absolute;
    margin-left: 315px;
    margin-top: 1090px;
}
#KOGL_34{
    position: absolute;
    margin-left: 475px;
    margin-top: 1090px;
}
#KOGL_35{
    position: absolute;
    margin-left: 635px;
    margin-top: 1090px;
}
/*KOGL 10줄*/
#KOGL_36 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1150px;
}
#KOGL_37{
    position: absolute;
    margin-left: 315px;
    margin-top: 1150px;
}
#KOGL_38{
    position: absolute;
    margin-left: 475px;
    margin-top: 1150px;
}
#KOGL_39 {
    position: absolute;
    margin-left: 635px;
    margin-top: 1150px;
}
/*KOGL 11줄*/
#KOGL_40 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1210px;
}
#KOGL_41{
    position: absolute;
    margin-left: 315px;
    margin-top: 1210px;
}
#KOGL_42{
    position: absolute;
    margin-left: 475px;
    margin-top: 1210px;
}
#KOGL_43 {
    position: absolute;
    margin-left: 635px;
    margin-top: 1210px;
}
/*KOGL 12줄*/
#KOGL_44 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1270px;
}
#KOGL_45{
    position: absolute;
    margin-left: 315px;
    margin-top: 1270px;
}
#KOGL_46{
    position: absolute;
    margin-left: 475px;
    margin-top: 1270px;
}
#KOGL_47{
    position: absolute;
    margin-left: 635px;
    margin-top: 1270px;
}
/*KOGL 13줄*/
#KOGL_49 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1355px;
}
#KOGL_50{
    position: absolute;
    margin-left: 315px;
    margin-top: 1355px;
}
#KOGL_51{
    position: absolute;
    margin-left: 475px;
    margin-top: 1355px;
}
#KOGL_52{
    position: absolute;
    margin-left: 635px;
    margin-top: 1355px;
}
/*KOGL 14줄*/
#KOGL_53 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1415px;
}
#KOGL_54{
    position: absolute;
    margin-left: 315px;
    margin-top: 1415px;
}
#KOGL_55{
    position: absolute;
    margin-left: 475px;
    margin-top: 1415px;
}
#KOGL_56{
    position: absolute;
    margin-left: 635px;
    margin-top: 1415px;
}
/*KOGL 16줄*/
#KOGL_57 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1475px;
}
#KOGL_58{
    position: absolute;
    margin-left: 315px;
    margin-top: 1475px;
}
#KOGL_59{
    position: absolute;
    margin-left: 475px;
    margin-top: 1475px;
}
#KOGL_60{
    position: absolute;
    margin-left: 635px;
    margin-top: 1475px;
}
/*KOGL 17줄*/
#KOGL_61 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1535px;
}
#KOGL_62{
    position: absolute;
    margin-left: 315px;
    margin-top: 1535px;
}
#KOGL_63{
    position: absolute;
    margin-left: 475px;
    margin-top: 1535px;
}
#KOGL_64{
    position: absolute;
    margin-left: 635px;
    margin-top: 1535px;
}
/*KOGL 18줄*/
#KOGL_65 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1595px;
}
#KOGL_66{
    position: absolute;
    margin-left: 315px;
    margin-top: 1595px;
}
#KOGL_67{
    position: absolute;
    margin-left: 475px;
    margin-top: 1595px;
}
#KOGL_68{
    position: absolute;
    margin-left: 635px;
    margin-top: 1595px;
}
/*KOGL 19줄*/
#KOGL_69 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1655px;
}
#KOGL_70{
    position: absolute;
    margin-left: 315px;
    margin-top: 1655px;
}
#KOGL_71{
    position: absolute;
    margin-left: 475px;
    margin-top: 1655px;
}
#KOGL_72{
    position: absolute;
    margin-left: 635px;
    margin-top: 1655px;
}
/*KOGL 20줄*/
#KOGL_73 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1715px;
}
#KOGL_74{
    position: absolute;
    margin-left: 315px;
    margin-top: 1715px;
}
#KOGL_75{
    position: absolute;
    margin-left: 475px;
    margin-top: 1715px;
}
#KOGL_76{
    position: absolute;
    margin-left: 635px;
    margin-top: 1715px;
}
/*KOGL 21줄*/
#KOGL_77 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1775px;
}
#KOGL_78{
    position: absolute;
    margin-left: 315px;
    margin-top: 1775px;
}
#KOGL_79{
    position: absolute;
    margin-left: 475px;
    margin-top: 1775px;
}
#KOGL_80{
    position: absolute;
    margin-left: 635px;
    margin-top: 1775px;
}
/*KOGL 22줄*/
#KOGL_81 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1835px;
}
#KOGL_82{
    position: absolute;
    margin-left: 315px;
    margin-top: 1835px;
}
#KOGL_83{
    position: absolute;
    margin-left: 475px;
    margin-top: 1835px;
}
#KOGL_84{
    position: absolute;
    margin-left: 635px;
    margin-top: 1835px;
}
/*KOGL 22줄*/
#KOGL_85 {
    position: absolute;
    margin-left: 155px;
    margin-top: 1895px;
}
#KOGL_86{
    position: absolute;
    margin-left: 475px;
    margin-top: 1895px;
}
/*KOGL 23줄*/
#KOGL_87{
    position: absolute;
    margin-left: 155px;
    margin-top: 1955px;
}
#KOGL_88 {
    position: absolute;
    margin-left: 475px;
    margin-top: 1955px;
}
#KOGL_89{
    position: absolute;
    margin-left: 635px;
    margin-top: 1955px;
}
/*OFL 1줄*/
#OFL {
    position: absolute;
    cursor: pointer;
    margin-left: 410px;
    margin-top: 2060px;
}
#OFL_00 {
    position: absolute;
    margin-left: 155px;
    margin-top: 2110px;
}
#OFL_01{
    position: absolute;
    margin-left: 315px;
    margin-top: 2110px;
}
#OFL_02{
    position: absolute;
    margin-left: 475px;
    margin-top: 2110px;
}

.newicon {position: absolute; display: block ; left: 150px}

#kogl_101_area {  width: 674px; height: 150px; margin-left: 130px; margin-top: 590px}
#kogl_101_area div a { float: left ; margin-left: 5px; margin-right: 5px; margin-top: 5px; }
#kogl_101_area div a:first-child { margin-left: 30px }
#kogl_101_area div:first-child {display: inline-block; margin-top: 13px !important;}

#kogl_101_area_02 {width: 674px;height: 1865px;margin-left: 130px;margin-top: 0px /* margin-top: 60px*/;} 
#kogl_101_area_02 div a { float: left ;  margin-left: 5px; margin-right: 5px;  margin-top: 5px;}
#kogl_101_area_02 div a:first-child { margin-left: 30px }
#kogl_101_area_02 div:first-child {display: inline-block; margin-top: 13px !important;}

#OFL_001 {display: inline-block; margin-left: 370px ; margin-top: 37px}

#ofl_39_area {width: 674px;height: 65px;margin-left: 130px;margin-top: 129px;}
#ofl_39_area div a { float: left ;  margin-left: 5px; margin-right: 5px;  margin-top: 5px;}
#ofl_39_area div a:first-child { margin-left: 30px }
#ofl_39_area div:first-child {display: inline-block; margin-top: 13px !important;}

#ofl_39_area_02 { width: 674px; height: 608px  ;  margin-left: 130px;}
#ofl_39_area_02 div a { float: left ;  margin-left: 5px; margin-right: 5px;  margin-top: 5px;}
#ofl_39_area_02 div a:first-child { margin-left: 30px }
#ofl_39_area_02 div:first-child {display: inline-block; margin-top: 13px !important;}

#check_area {z-index: 9; display: inline-block; margin-top: 3360px;/* margin-top: 3100px*/ margin-left: 155px} 