@charset "UTF-8";
.font_pop_wrap{max-width:760px; margin:0 auto; padding-bottom:40px; background:#fff;}
.pop_head {position: relative;z-index: 2;height:93px; background:url(../img2/pop_top_bg.png) top center no-repeat;}
.pop_container {margin-top: -10px;padding-bottom: 24px;box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.05); border: 1px solid #e2e2e2; background-color: #e6f9f7; padding-left: 40px;padding-right: 39px;}
.pop_main {position:relative;text-align: center;padding: 59px 0 36px;}
.pop_main .logo1 {position:absolute;width: 50px;height: 30px;top: 283px;right: 157px;font-size: 0;line-height: 0;}
.pop_main .logo2 {position:absolute;width: 60px;height:30px;top: 283px;right: 82px;font-size: 0;line-height: 0;}
.pop_all_down {display:flex; justify-content:space-between; margin-bottom: 17px;}
.pop_all_down a {width:calc(50% - 9px); height:50px; background:#222;border-radius: 10px;text-align: center;line-height: 50px;}
.pop_all_down a span {font-size:20px; font-weight:bold; color:#fff; letter-spacing:-0.1187rem;line-height:1;}
.pop_content a img{vertical-align: middle;}
.pop_content {border:2px solid;border-radius: 10px; background-color: #fff;}
.pop_content .box_title {height: 45px;display:flex; align-items:center; justify-content:center;border-radius: 7px 7px 0 0;}
.pop_content .box_title strong {font-size:23px; font-weight:700; color:#fff; letter-spacing:-0.025em;}
.pop_content .box_title .btn_help {width:20px; height:20px; margin-left:5px; background:url(../img2/btn_help.png) center no-repeat; border:0;}
.pop_content .box_new_list { padding:15px 25px; position:relative;}
.pop_content .box_new_list:before {content:"";display:block;width:81px;height:82px;position:absolute;top: -48px;left: -3px;z-index: 10;}
.pop_content .box_new_list ul {display:flex; align-items:center; flex-wrap:wrap;margin: 0 -10px;}
.pop_content .box_new_list ul li {width:calc(25% - 10px);border-radius:7px; border:1px solid #d9475c; background:#f7f6f2; height:50px; display: inline-block;text-align: center;margin: 5px;}
.pop_content .box_list {padding:15px 25px;}
.pop_content .box_new_list + .box_list {border-top:2px solid;}
.pop_content .box_list ul {display:flex; align-items:center; flex-wrap:wrap;margin: 0 -10px;}
.pop_content .box_list ul li {width:calc(25% - 10px); border-radius:7px; border:2px solid #ccc; height:50px; display: inline-block;text-align: center;margin: 5px;box-sizing: border-box;}
.pop_content .box_list ul li.qaut_box {width:calc(50% - 10px);}
.pop_content.box_kogl {border-color:#00a589;}
.pop_content.box_kogl .box_title {background:#00a589;}
.pop_content.box_kogl .box_new_list {background:#e5f6f3;;}
.pop_content.box_kogl .box_new_list + .box_list {border-color:#00a589;}
.pop_content.box_ofl {border-color: #e65a1d; margin-top:25px;}
.pop_content.box_ofl .box_title {background: #e65a1d;}
.pop_content.box_ofl .box_new_list {background:#fceee8;}
.pop_content.box_ofl .box_new_list + .box_list {border-color: #e65a1d;}
.pop_content.box_kogl .box_new_list:before {background:url(../img2/kogl_new.png) center no-repeat;}
.pop_content.box_ofl .box_new_list:before {background:url(../img2/ofl_new.png) center no-repeat;}
#freefontEvent {position:relative;}
#freefontEvent #check_area {position:absolute; bottom:20px; right:50px;}
#freefontEvent #check_area span b {font-size:15px;}
/*  */
.pop_content__info{margin-top: 30px;font-size: 18px;color: #333;}
.pop_content__info h4{ position: relative; padding-left: 13px; font-size: 20px; font-weight: 700; letter-spacing: -0.55px; color: #000;}
.pop_content__info h4::before { content: ""; width: 3px; height: 15px; background-color: #00a589; position: absolute; top: 8px; left: 0; }
.pop_content__info h5{color: #333;font-size: 18px;letter-spacing: -0.45px;margin-top: 20px;margin-bottom: 5px;}
.pop_content__info .idt{padding-left: 13px;text-indent: -13px;}
.pop_content__info .reference{padding-left: 20px;text-indent: -20px;margin-top: 20px;}
@media (max-width: 1199px){
    .pop_head {background-size: contain;height: 0;padding-bottom: 12%;}
}
@media (max-width: 991px){
    .pop-modal .pop-wrap .pop-container {height: calc(100vh - 289px);}
    .font_pop_wrap{width:100%;}
    .pop_container {padding: 0 10px 24px;}
    .pop_main {padding: 33px 0 10px;}
    .pop_all_down {display:block;margin: 0 0 10px;}
    .pop_all_down a {width: 100%;margin: 3px 0;height: 35px;border-radius: 4px;line-height: 33px;}
    .pop_all_down a span {font-size: 15px;}
    .pop_content {margin:0;}    
    .pop_content .box_title{padding-bottom: 8px;}
    .pop_content .box_title strong {font-size:17px;}
    .pop_content .box_new_list {padding: 15px;}
    .pop_content .box_new_list ul li {width: calc(50% - 10px);height: 35px;display: flex;align-items: center;justify-content: center;}
    .pop_content .box_list {padding:15px;}
    .pop_content .box_list ul li {width:calc(50% - 10px);height: 42px;display: flex;align-items: center;justify-content: center} 
    .pop_content .box_list ul li.qaut_box {width:100%;}
    .pop_main .logo1 ,
    .pop_main .logo2 {display:none;}
}