@font-face {
    font-family: 'NEXONLv2GothicOTFRegular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./NEXONLv2Gothic-Regular.woff2') format('woff2'),
         url('./NEXONLv2Gothic-Regular.woff') format('woff');
}
@font-face {
    font-family: 'NEXONLv2GothicOTFMedium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./NEXONLv2Gothic-Medium.woff2') format('woff2'),
         url('./NEXONLv2Gothic-Medium.woff') format('woff');
}
@font-face {
    font-family: 'NEXONLv2GothicOTFBold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./NEXONLv2Gothic-Bold.woff2') format('woff2'),
         url('./NEXONLv2Gothic-Bold.woff') format('woff');
}